/* Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

/* ========================= Css Variables Start ======================== */
:root {
  /* Font Family */
  --heading-font: "Outfit", sans-serif;                              
  --body-font: "Inter", sans-serif;
  --b-radius-20: clamp(0.875rem, 0.781rem + 0.469vw, 1.25rem);
  --b-radius-16: clamp(0.625rem, 0.531rem + 0.469vw, 1rem);
  --b-radius-12: clamp(0.5rem, 0.321rem + 0.476vw, 0.75rem);
  --b-radius-8: clamp(0.313rem, 0.266rem + 0.234vw, 0.5rem);
  --b-radius-6: clamp(0.188rem, 0.141rem + 0.234vw, 0.375rem);
  --common-radius: 30px;
  --common-p: clamp(0.5rem, 0.406rem + 0.469vw, 0.875rem) clamp(0.938rem, 0.703rem + 1.172vw, 1.875rem);
  --common-p-sm: 12px 16px !important;

  /* ========================= Theme Color Start ============================= */
  @include colorVariable(--base, #2934FF, 10);
  @include colorVariable(--base-two, #040519, 5);
  /* ========================= Theme Color End ============================= */

  /* ========================= Color Variables Start =========================== */
  // White Color
  @include colorVariable(--white, #fff);

  // Body Color
  @include colorVariable(--body-color, #ccc                    );

  // Body BG
  @include colorVariable(--body-bg, #fff);

  // heading-color
  @include colorVariable(--heading-color, #fff);

  // Black Color
  @include colorVariable(--black, #000);

  //Border Color
  @include colorVariable(--border-color, #e0e0e0);

  // Section Background
  @include colorVariable(--section-bg, #dddddd);

  /* ================================ Box Shadow Start =============================== */
  --box-shadow: 1px 1px 5px 5px hsl(var(--white)/ 0.08);
  --box-shadow-2:  1px 7px 16px 0px  hsl(var(--black)/ 0.28);
  /* ================================ Box Shadow End =============================== */

  /* ============================== Bootstrap Modifier Start ============================== */
  /* Primary Color */
  @include colorVariable(--primary, #0007cc, 5);

  /* Secondary Color */
  @include colorVariable(--secondary, #6d767e, 5);

  /* Success Color */
  @include colorVariable(--success, #1bcc00, 5);

  /* Danger Color */
  @include colorVariable(--danger, #fb4646, 5);

  /* Warning Color */
  @include colorVariable(--warning, #eb9c00, 5);

  /* Info Color */
  @include colorVariable(--info, #00bbff, 5);
  /* Purple Color */
  @include colorVariable(--purple, #8b42ff);
  /* Aqua  Color */
  @include colorVariable(--aqua, #03AEC0);
    /* Orange  Color */
  @include colorVariable(--orange, #e6710b);
  @include colorVariable(--pink, #e60bc8);
  /* ============================== Bootstrap Modifier End ============================== */

  /* ============================== Dark Mood Color Modify Start ============================== */
  [data-theme='dark'] {
    // Reverse White
    @include colorVariable(--white, #101213);

    // Reverse Black
    @include colorVariable(--black, #f8fafc);
  }

  /* ============================== Dark Mood Color Modify End ============================== */
}

/* ========================= Css Variables End =========================== */